version: '3.8'

services:
  mongo:
    image: mongo:8
    container_name: mongo-todolist
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: todolist
    networks:
      - todolist-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-todolist
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/todolist
      PORT: 3001
    networks:
      - todolist-network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-todolist
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://localhost:3001
    networks:
      - todolist-network
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  mongo_data:

networks:
  todolist-network:
    driver: bridge
